* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  justify-content: center;
  align-items: center;
}
body {
  height: 100%;
  font-size: 16px;
  background: url(header.jpg) no-repeat 50% 0;
  min-width: 900px;
}

img {
  display: block;
 max-width: 70%;
}
header {
  display: flex;
  height: 100%;
  position: relative;
  align-items: center;
  padding: 1em 0;
}
.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}
.id {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

hr {
  border: none;
  border-bottom: 2px solid #333;
}
.download {
  padding: 0.5em 1em;
  background: #ff1100;
  border-radius: 5px;
  margin-left: 1rem;
}
hr br h1 {
  text-align: left;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}
.middle {
  height: center;
  width: auto;
  float: left;
}

.container {
  flex: auto right;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-columns: 1fr 2fr 3fr;
  gap: 30px;
  margin: 120px 0 40px;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1000px) {
  .box {
    width: 100%;
  }
}

*,
::before,
::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
footer {
  flex-shrink: 0;
  border-top: 1px dashed 000;
  width: 100%;
  background: #f1f1f1;
  color: #333;
}
/* res deplacent items */
.tout-footer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 20px;
flex-direction: column-reverse;
  padding: 50px 0 100px;
}
.colones {
  width: 25%;
  margin: 0 30px;
}
.footer-jeu h3,
.footer-communaute h3,
.footer-up h3,
.footer-socialh3 {
  font-size: 25px;
  padding-bottom: 20px;
}

.liste-game,
.liste-community,
.liste-update,
.liste-media {
  list-style-type: none;
}

.liste a {
  text-decoration: none;
  color: #333;
}

.liste-media {
  position: relative;
  right: 10px;
}

.liste-media svg {
  width: 300px;
  margin: 10px 10px;
}

.liste-media a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-size: 20px;
}
